.parents{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    position: absolute;
}
.btn{
    width: 100%;
    height: 50px;
    margin: 8px;
    color: white;
}
.application{
    width: 200px;
    height: fit-content;
    position: relative;
    margin-left: 221px;
}
